body {
    padding: 90px 16px 16px 16px;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    color: #666666;

    text-align: justify;
}

h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-align: center;
    padding-bottom: 20px;
}

h2 {
    font-size: 25px;
}

#todr_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60vmin;
    height: 60vmin;
    margin-top: -30vmin;
    margin-left: -30vmin;
}

#todr_appstore {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 24vmin;
    height: 24vmin;
    margin-top: -20vmin;
    margin-left: -12vmin;
}

.navbar, .navbar-brand {
    font-weight: 300;
    font-size: 26px;
}

.navbar-header {
    padding-top: 8px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.92);
    border-bottom: none;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
        border-bottom: 1px solid lightgrey;
    }

    .navbar .navbar-collapse .nav-item {
        padding: 8px 8px 12px 8px;
    }

    body {
        padding: 90px 40px 40px 40px;
    }
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.update-image {
    display: block;
    margin-top: 12%;
}

@media (max-width: 400px) {
    .image {
        width: 200px;
    }
}

#footer {
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 12px;
    color: #666666;
    padding-top: 16px;
}

.presentationBox {
    padding-top: 5vmin;
}

.descritpion {
    padding-top: 10px;
    text-align: center;
}
