<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My First Admin</title>
        <link rel="stylesheet" href="css/ng-admin.min.css">
    </head>
    <body ng-app="myApp">
        <div ui-view></div>
        <script src="js/ng-admin.min.js" type="text/javascript"></script>
        <script src="js/admin.js" type="text/javascript"></script>
    </body>
</html>