<% include header %>

<div class="container desc">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form method="POST" action="contact" accept-charset="UTF-8" class="form-horizontal">
                <p class="text-danger">
                </p>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="name">Nom: </label>
                    </div>
                    <div class="col-sm-9">
                        <input class="form-control" name="name" type="text" value="" id="name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="email">Adresse E-Mail: </label>
                    </div>
                    <div class="col-sm-9">
                        <input class="form-control" name="email" type="text" value="example@gmail.com" id="email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="message">Votre message: </label>
                     </div>
                    <div class="col-sm-9">
                        <textarea class="form-control" name="message" cols="50" rows="10" id="message">Votre message ici...</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <input class="form-control" type="submit" value="Envoyer">
                    </div>
                </div>
            </form>
       </div>
   </div>
</div>

<% include footer %>
