<% include header %>

<a href="/presentation">
    <img id="todr_icon" src="img/todr-icon.svg" alt="application icon">
</a>

<a href="https://appsto.re/fr/u6319.i">
    <img id="todr_appstore" src="img/appstore.svg" alt="appstore link">
</a>

<% include footer %>
