<% include header %>

<h1>Voici Todr !</h1>

<div class="row">
    <div class="col-sm-6 col-md-3 presentationBox">
        <img src="img/projects5.png" width="160" class="image">

        <p class="descritpion">Gérez tous vos projets</p>
    </div>
    <div class="col-sm-6 col-md-3 presentationBox">
        <img src="img/todo5.png" width="160" class="image">

        <p class="descritpion">Listez vos tâches</p>
    </div>
    <div class="col-sm-6 col-md-3 presentationBox">
        <img src="img/doing5.png" width="160" class="image">

        <p class="descritpion">Chronométrez-vous</p>
    </div>
    <div class="col-sm-6 col-md-3 presentationBox">
        <img src="img/graphics5.png" width="160" class="image">

        <p class="descritpion">Suivez vos performances</p>
    </div>
</div>

<% include footer %>
