<% include header %>

<h1>Serveur</h1>

<p>
Le serveur permet de synchroniser les taches et les données entre plusieurs clients Todr sur toutes les plateformes.
</p>

<h2>Openshift</h2>

<p>
Pour simplifier le déploiement et l'hébergement, le serveur a été prévu pour fonctionner sur un gear openshift.
Pour installer votre propre serveur, il vous suffit d'avoir <a href="https://www.openshift.com/app/account/new">un compte openshift</a>.
</p>
<p>
Une fois muni de votre compte, cliquez sur l'image pour lancer automatiquement une nouvelle instance Openshift contenant l'application.
</p>
<p>
<a href="https://openshift.redhat.com/app/console/application_type/custom?&cartridges[]=nodejs-0.10&cartridges[]=mongodb-2.4&initial_git_url=https://bitbucket.org/todr/todr-web&name=todr"><img alt="GET IT ON OpenShift" src="http://launch-shifter.rhcloud.com/launch/GET IT ON.svg" /></a>
</p>


<h2>Self hosted</h2>

<p>
Le serveur est distribué en opensource et peut être hébergé sur votre propre machine.
Le code source est disponible directement sur <a href="https://bitbucket.org/todr/todr-web">notre dépôt bitbucket</a>.
</p>

<% include footer %>

