<% include header %>

<h1>Évolutions à venir</h1>

<div class="row" style="padding-top: 10vmin;">
    <div class="col-xs-0 col-md-3"></div>
    <div class="hidden-xs hidden-sm col-md-2">
        <img src="img/update.svg" height="160px" class="update-image">
    </div>
    <div class="col-xs-12 col-md-4">
        <h2>Serveur</h2>
        <ul>
            <li>Gestion des utilisateurs</li>
            <li>Nouveaux graphiques "en équipes"</li>
        </ul>
        <h2>Application</h2>
        <ul>
            <li>Configuration de l'ordonencement des listes</li>
        </ul>
    </div>
    <div class="col-xs-0 col-md-3"></div>
</div>

<% include footer %>